/* Reset & Global Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  /* black background */
  background-color: #000000;
  /* text color */
  color: #ffffff;
  /* font family is san serif because since we are in 15-20 years in the future, I want my website to appear timely and futuristic and the color theme wouldn;t match with serif. */
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  line-height: 1.4;
  letter-spacing: 1px;
  word-spacing: 0.9px;
  font-size: 1.2rem;
  margin: 20px;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(8px);
  background: rgba(20, 20, 20, 0.6);
  border-bottom: 1px solid #00f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* To undo the body 20px */
  margin-left: -20px;
}

header h1 {
  font-size: 1.8rem;
  color: #ff007f;
  text-transform: uppercase;
}

/* Navigation Links */
nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  /* The pseudo-element is used just for styling for the underline effect, not for text that's why the content is set to a empty string. */
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ff007f;
  transition: width 0.4s ease;
}

nav a:hover {
  color: #ff007f;
}

nav a:hover::after {
  width: 100%;
}

/* Main Section */
main {
}

/* Content Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
}

/* Card Styling */
.card {
  background: #111111;
  padding: 1.5rem;
  border-left: 5px solid #ff007f;
  border-radius: 12px;
  box-shadow: 0 0 12px #ff007f66;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px #ff007faa;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card h3 {
  color: #ff007f;
  margin-bottom: 0.5rem;
}

/* Section Spacing */
section {
  margin-bottom: 3em;
}

/* Paragraph Styling */
p {
  color: white;
  font-size: 20px;
}

/* Generic Div Styling */
div {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #000000;
  font-size: 0.9rem;
  border-top: 1px solid #00f7ff;
}

footer p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

footer .social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

footer a img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
